@import "compass";

@mixin starburst($⇅, $↭, $⬔, $⬕, $❏: null, $⬤: null) {
	$✓: null;
	$α: if($⇅ == 'top', 180, 0);
	$ω: if($⇅ == 'bottom', 180, 360);
	$↻: 1;

	@while $α <= $ω {
		$✳: $α;
		$↩: ($α < $ω) and (($α + $↭) - $ω <= 0);
		$❖: if($↻ % 2 == 1, $⬕, $⬔);
		$⮐: if($↩, ',', null);
		$⩲: $α+$↭;
		$α: $⩲;
		$↻: $↻ + 1;
		$✓: append($✓, 'linear-gradient(#{$✳}deg, transparent 50%, #{$❖} 50%)#{$⮐}');
	}

	@if $⇅ == 'both' {
		&:after {
			@include starburst(bottom,$↭,$⬔,$⬕);
			top: 50% !important;
			border-radius: 0% !important;
			background-position: 0 100%;
			background-size: 100% 200%;
		}
		&:before {
			@include starburst(top,$↭,$⬔,$⬕);
		}
		overflow: hidden;
	}

	position: relative;
	@include background-image(#{$✓});
	background-repeat: no-repeat;
	background-color: if($α >= 180, $⬕, $⬔);
	border-radius: if($⬤ == 1, 50%, initial);

	& * {
		position: relative;
		z-index: if($❏ != null, $❏+1, 1);
	}

	&:after, &:before {
		top: 0;
		left: 0;
		content: "";
		z-index: if($❏ != null, $❏, 0);
		width: 100%;
		height: 100%;
		position: absolute;
	}
}
